.account-item {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    width: 50rem;
    flex-direction: column;
    transition: color 0.5s, background-color 0.5s;
    gap: 0rem;
    font-size: 1.2rem;
}

div.account-item-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;

    p {
        margin: 0;
    }

}

p.acc-item {
    font-size: 1.2rem;
    padding: 0.6rem 0.5rem;
    margin: 0.52rem 0 !important;
    text-align: right;
    width: 16rem;
    border-radius: 0.5rem;
    background-color: var(--hover-color-2);
    transition: background-color 0.5s;
}

input.acc-input {
    display: none;
    font-size: 1.2rem !important;
    padding: 0 0.5rem !important;
    width: 15rem !important;
    text-align: right;
    margin: 0.5rem 0 !important;
    border-radius: 0.5rem !important;
    transition: background-color 0.5s, color 0.5s !important;
}

.delete-account-item {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    justify-content: center;
    text-align: center;
}

div.delete-account-safety {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

i.delete-account-close {
    font-size: 3rem;
    color: red;
}

.delete-account-btn {
    background-color: red;
    color: white;
}

div.acc-update-form {
    display: none;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

button.acc-return-btn,
button.acc-save-btn {
    width: 8rem;
}

button.edit-account-settings-btn {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 15rem;
}

.delete-account-btn {
    margin-bottom: 0.5rem;
    width: 15rem;
}

.delete-account-confirm-btn {
    margin-right: 0.5rem;
}

div.delete-account-safety {
    display: none;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 0.5s;
}

.update-form p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.update-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}