h6.sub-assignments-header,
h6.rev-assignments-header,
h6.instructor-assignments-header {
    margin-top: 2rem;
    margin-left: 0.25rem;
    margin-bottom: 0;
}

.sub-assignments,
.rev-assignments,
.instructor-assignments {
    display: flex;
    flex-wrap: wrap;
    max-width: 100rem;
}

div.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22rem;
    padding: 0rem;
    margin: 2rem;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
    margin-left: 0rem;
    border-radius: 0.5rem;
    background-color: var(--bwcolor);
    transition: background-color 0.2s, color 0.2s;
}

i.card-icon {
    font-size: 2rem;
    margin: 0.5rem 0rem;
}

/* Reviewing */
div.review-pdf {
    width: 50rem;
    height: 50rem;
    background-color: var(--hover-color);
    transition: background-color 0.2s;
}

div.give-feedback-page,
div.view-feedback-page {
    display: none;
    margin-top: 2rem;
    gap: 1.5rem;
}

div.review-input {
    flex-grow: 1;
}

textarea#feedback-input {
    height: 15rem;
    border: 0px;
}

.review-input li {
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 0;
}