div.mainapp {
    display: none;
}

.bwcolor {
    transition: background-color 0.5s, color 0.5s;
}

img.indexback,
img.indexback2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

div.icon-holder {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;

    h4,
    h5 {
        margin: 0;
    }
}

div.input-field {
    padding: 0;
    margin: 0;
    width: 20rem;
}

.input-field input[type="text"],
.input-field input[type="password"] {
    color: var(--form-color) !important;
}

div.login-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90dvh;
}

div.login-box,
div.login-box-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    transition: transform 0.5s, background-color 0.5s, color 0.5s;
}

div.login-box-2 {
    transform: rotateY(90deg);
}

button.login-btn,
button.create-btn {
    padding: 0rem 1.5rem;
    border-radius: 0.5rem;
}

button.create-btn {
    display: none;
}

p.status-text,
p.status-text-2 {
    display: none;
    margin: 0.2rem;
    color: var(--warn-color);
    font-size: 1.1rem;
}

a.switch {
    cursor: pointer;
}

form.register-form {
    display: none;
}

div.user-type-form {
    display: flex;
    gap: 1rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    height: 6rem;
    margin-bottom: 1rem;
}

div.user-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    border: 0.2rem transparent solid;
    background-color: var(--hover-color);
    width: 8rem;
    height: 6rem;
    transition: background-color 0.25s, color 0.25s;

    i {
        font-size: 2.5rem;
    }
}

div.user-type:hover {
    background-color: var(--hover-color-2);
    border: 0.2rem green solid;
    transition: 0.2s;
    cursor: pointer;
}

@media screen and (max-width: 750px) {}