/* Center the icon in the card-image div */
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    /* Adjust height as needed */
}

/* Make the AssignmentName div class stand out more */
.assignmentName {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.studentName {
    text-align: center;
    font-size: 1em;
    padding: 0px 10px 15px 10px;
}

.card-action {
    display: flex;
    justify-content: center;
}

.table-sub-assignments,
.table-rev-assignments {
    display: block;
    max-width: 100%;
    overflow-x: auto;
}

.table-sub-assignments-body,
.table-rev-assignments-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.table-sub-assignments-body tr,
.table-rev-assignments-body tr {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-shrink: 0;
    /* Prevent rows from shrinking */
    min-width: 150px;
    /* Set a minimum width to avoid squishing */
    max-width: 100%;
    /* Restrict each row from expanding beyond container width */
    overflow-wrap: break-word;
    /* Allow content to wrap properly within cells */
}

h3.sub-assignments-header,
h3.rev-assignments-header {
    text-align: left;
    font-size: 2em;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.sub-assignments,
.rev-assignments {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

/* Reviewing */
div.review-pdf {
    width: 50rem;
    height: 50rem;
    background-color: var(--hover-color);
    transition: all 0.25s;
}

div.give-feedback-page,
div.view-feedback-page {
    display: none;
    padding: 10px;
    margin-top: 30px;
    gap: 1.5rem;
    transition: all 0.25s;

}

div.review-input {
    flex-grow: 1;
}

textarea#feedback-input {
    height: 15rem;
    border: 1px solid grey;
}

.review-input li {
    margin-bottom: 10px;
    /* Add margin between list items */
    padding: 10px;
    /* Add padding to list items */
    border: 1px solid grey;
}