div.mainapp {
    display: none;
}

div.icon-holder {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1.2rem 0;

    h4,
    h5 {
        margin: 0;
    }
}

img.adminback {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    right: 10rem;
    bottom: 5rem;
}

a.reset-demo {
    margin-top: 1rem;
}

.input-field {
    padding: 0;
}