div.mainapp {
    display: none;
}

div.container {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    transform: translateX(-5rem);
}

div.holder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    margin-left: 10rem;
    position: relative;
}

div.index-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10rem;
}

img.indexback,
img.indexback2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

img.indexback2 {
    z-index: -2;
}

img.scholar-image {
    width: 200%;
}

h1.welcome {
    margin-left: 10rem;
}

span.welcome {
    font-weight: 600;
    font-size: 6rem;
    background: linear-gradient(270deg, #00ff00, #ffff00, #adff2f, #00ff00);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
}

div.subhead {
    font-weight: 300;
}

a.getstarted {
    margin-top: 3rem;
    margin-left: 10rem;
    border-radius: 1rem;
}


a.getstarted:hover {
    scale: 1.1;
    transition: scale 0.2s;

    i.getarrow {
        rotate: 360deg;
        transition: rotate 0.2s;
    }
}

div.icon-holder {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}