div.mainapp {
    display: none;
}

img.indexback,
img.indexback2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

img.indexback2 {
    z-index: -2;
}

div.courseholder {
    position: relative;
    border-radius: 1rem;
    width: 90%;
    margin: 2rem auto;
    margin-bottom: 4rem;
    padding: 2rem;
    transition: background-color 0.5s, color 0.5s;
    user-select: none;
    background-color: var(--transparent);
}

i.accounticon {
    font-size: 8rem !important;
    margin: 0;
    padding: 0;
}

div.top-info-holder {
    height: 8rem;

    h2 {
        margin-top: 0.75rem;
        margin-bottom: 0.5rem;
    }
}

p.accountemail,
p.course-list-head {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

p.course-list-head {
    margin-bottom: 1.5rem;
}

p.secondary {
    margin: 0.25rem 0 !important;
    color: gray;
}

div.top-icon-holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

div.course-list {
    margin: 1rem;
    margin-top: 3rem;
}

div.account-settings {
    display: none;
}

a.account-settings-back {
    width: 15rem;
}

div.course-list-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}

div.card {
    width: 25rem;
}

.std-hover:hover {
    transform: scale(1.02);
    transition: 0.25s;
    cursor: pointer;
}

.std-hover {
    transition: 0.25s all;
}

ul.side-nav {
    position: relative;
    z-index: 1;
    height: 100dvh;
    width: 20rem;
    position: fixed;
    top: 0;
    left: -20rem;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img.side-nav-img {
    width: 20rem;
    margin: 3rem 0rem;
}

ul.side-nav li {
    width: 20rem;
    display: flex;
    justify-content: center;
}

a.side-nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    width: 20rem;
    transition: background-color 0.5s, color 0.5s;
    padding: 1rem 2rem;
}

a.side-nav-item:hover {
    background-color: var(--hover-color) !important;
    cursor: pointer;
    transition: background-color 0.2;
}

p.side-nav-course-code {
    font-size: 1.5rem;
    position: absolute;
    top: 6.8rem;
    left: 1rem;
    color: white;
}

p.side-nav-course-invite {
    font-size: 1.2rem;
    position: absolute;
    top: 9.2rem;
    left: 1rem;
    color: rgb(194, 194, 194);
}

div.coursedash {
    display: none;
}

a.addenrolcourse {
    position: absolute;
    right: 4rem;
    top: 4rem;
}

div.coursedash-holder {
    border-radius: 1rem;
    flex-grow: 1;
    margin: 2rem;
    margin-bottom: 4rem;
    padding: 2rem;
    transition: background-color 0.5s, color 0.5s;
    user-select: none;
    background-color: var(--transparent);
}

h3.coursedash-header {
    margin: 0;
}

/* Add or Enrol Course Modal */
div.modal {
    z-index: 2;
    padding: 1rem;
    width: 30rem;
}

div.input-field input {
    margin: 0;
}

div.modal-addenrol-holder {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input-field input[type="text"],
.input-field input[type="password"] {
    color: var(--form-color) !important;
}

p.status-text {
    display: none;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    color: var(--warn-color);
    font-size: 1.1rem;
}