div.update-banner {
    display: flex;
    align-items: center;
}

div.course-details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
}

div.left-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
    padding-left: 0.5rem;
}

div.save,
div.delete {
    a {
        width: 12rem;
    }
}

a.course-withdraw-btn {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

div.modal,
div.modal-footer {
    background-color: var(--bwcolor) !important;
    transition: all 0.5s;
}