div.update-banner {
    display: flex;
    align-items: center;
}

div.settings-footer {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

div.right-footer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

div.left-footer {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
}

a.course-withdraw-btn {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

div.modal,
div.modal-footer {
    background-color: var(--bwcolor) !important;
    transition: all 0.5s;
}