div.container
{
    display: block;
    text-align: center;
}

.button{
    background-color: rgb(3, 151, 3);
    border: none;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    border-radius: 1rem;
}
