/*Student Listing*/
table.table_students {
    height: auto;
    margin: 2rem auto;
    border-radius: 0.5rem;
    background-color: var(--bwcolor);
    color: var(--font-color);
    transition: all 0.5s;
}

img.classlist-profile-pic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
}

td.classlist-profile i {
    font-size: 2.5rem;
}

td.classlist-profile {
    padding-left: 2rem;
    width: 20%;
}

td.classlist-remove {
    width: 10%;
}

table.table_students th {
    background-color: var(--hover-color);
}